
.layout-wrapper {
  height: 100%;
  width: 100%;
}
.main-container-top{
  width:100%;
  height:100%;
  background-color:whitesmoke;
}

.layout-header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-box img {
  height: 30px;
  width: 30px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 9999px;
  padding: 4px 17px;
  width: 287px;
  box-shadow: none;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  flex: 1;
  margin-left: 8px;
}

.search-box i {
  color: gray;
  font-size: 16px;
}

.nav-items {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-home:hover,
.nav-network:hover,
.nav-jobs:hover,
.nav-messaging:hover,
.nav-notifications:hover {
  border-radius: 10px;
}

.nav-items>div {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.nav-items>div:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 80%;
  height: 3px;
  background-color: #0a66c2;
  margin-bottom: 10px;
}

.nav-items>.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 100%;
  height: 3px;
  background-color: #0a66c2;
}

.nav-home,
.nav-network,
.nav-jobs,
.nav-messaging,
.nav-notifications {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-section {
  position: relative;
  padding: 20px;
}

.profile-image-box {
  margin-top: -28px;
}

.profile-image-box img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.green-dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 47px;
}

.small-image {
  height: 398px;
  width: 400px;
  background-color: purple;
  position: absolute;
  top: 60px;
  right: 34px;
  box-sizing: border-box;
}

.profile-menu-wrapper {
  height: 100%;
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
}

.profile-menu-container {
  height: 400px;
  width: 100%;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 70%;
  border-bottom: 1px solid;
  padding-bottom: 12px;
  margin-bottom: 12px;
  color: #fff;
}

.profile-image-wrapper {
  height: 50px;
  width: 50px;
}

.profile-image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-name {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.profile-link {
  color: #fff;
}

.profile-menu-item {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
}

.menu-icon-text {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.menu-icon {
  height: 50px;
  width: 50px;
}

.menu-icon img {
  height: 100%;
  width: 100%;
}

.menu-text {
  color: #fff;
}







/* next */
.linkedin-layout {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 10px;
}

.linkedin-profile-section {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.linkedin-cover-container {
  background-color: white;
  margin-bottom: 10px;
}


.linkedin-cover-img {
  height: 124px;
  width: 100%;
}

.linkedin-cover-img img {
  height: 100%;
  width: 100%;
}

.linkedin-profile-pic-wrapper {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 138px;
  left: 100px;
}

.linkedin-profile-pic-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.linkedin-info-container {
  padding: 30px;
}

.linkedin-stats {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: column;
}

.linkedin-stat-row {
  display: flex;
  justify-content: space-between;
}

.linkedin-stat-row-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}

.linkedin-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.linkedin-links-left {
  display: flex;
  align-items: center;
  border-right: 1px solid;
  margin-left: 20px;
  width: 60%;
}

.linkedin-links-left-img {
  height: 50px;
  width: 34%;
}

.linkedin-links-left-img img {
  height: 100%;
  width: 100%;
}

.linkedin-links-right-img {
  height: 21px;
  width: 21%;
}

.linkedin-links-right-img img {
  height: 100%;
  width: 100%;
}

.linkedin-links-right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 66%;
}

.linkedin-side-panel {
  background-color: white;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-left: 30px;
}

.linkedin-side-panel-section {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.linkedin-side-panel-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.linkedin-post-section {
  width: 50%;
}

.linkedin-post-box {
  background-color: white;
  margin-bottom: 26px;
  padding: 30px 14px 15px 32px;
}

.linkedin-post-header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.linkedin-post-header-img {
  height: 50px;
  width: 50px;
}

.linkedin-post-header-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.custom-input {
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.linkedin-post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkedin-post-action {
  display: flex;
  gap: 10px;
}

.linkedin-post-action-icon {
  height: 25px;
  width: 25px;
}

.linkedin-post-action-icon img {
  height: 100%;
  width: 100%;
}

.linkedin-post-button {
  background-color: #007bff;
  color: white;
  padding: 10px 45px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.linkedin-post-button:hover {
  background-color: red;
}

.linkedin-post-feed {
  background-color: white;
  margin-bottom: 20px;
}


.post-card {
  display: flex;
  gap: 10px;
  padding-top: 26px;
}

.linkedin-post-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card-left {
  height: 40px;
  width: 40px;
}

.post-card-left img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.post-card-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-card-section {
  font-weight: 500;
  font-size: 20px;
}

.linkedin-post-text {
  height: 275px;
  width: 506px;
  padding-right: 50px;
  padding-left: 30px;
}

.linkedin-post-text img {
  height: 100%;
  width: 100%;

}

.linkedin-post-user {
  padding-left: 40px;

}

.inkedin-post-text {
  padding-left: 50px;
  padding-right: 50px;



}

.linkedin-post-footer {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 60px;
  border-bottom: 1px solid;
  padding-bottom: 20px;

}

.post-footer-wrapper {
  display: flex;
  gap: 20px;
}

.footer-divider-left {
  display: flex;
}

.footer-like {
  height: 20px;
  width: 20px;
}

.footer-like img {
  height: 100%;
  width: 100%;
}

.footer-love {
  height: 20px;
  width: 20px;
}

.footer-love img {
  height: 100%;
  width: 100%;
}

.footer-clap {
  height: 20px;
  width: 20px;
}

.footer-clap img {
  height: 100%;
  width: 100%;
}

.post-extra-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.post-extra-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-extra-picture {
  height: 40px;
  width: 40px;
}

.post-extra-picture img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.post-extra-down-arrow {
  height: 20px;
  width: 20px;
}

.post-extra-down-arrow img {
  height: 100%;
  width: 100%;
}

.post-extra-views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 405px;
}

.post-extra-views-top {
  display: flex;
  gap: 10px;
}

.post-extra-views-value {
  display: flex;
  gap: 10px;
}

.post-extra-views-topic {
  display: flex;
  gap: 10px;
}

.post-extra-views-level {
  display: flex;
  gap: 10px;
}

.post-top-views {
  height: 20px;
  width: 20px;
}

.post-top-views img {
  height: 100%;
  width: 100%;
}

.post-option {
  height: 20px;
  width: 20px;
}

.post-option img {
  height: 100%;
  width: 100%;
}

.post-extra-views-level-left {
  height: 20px;
  width: 20px;
}

.post-extra-views-level-left img {
  height: 100%;
  width: 100%;
}

.post-extra-views-topic-left {
  height: 20px;
  width: 20px;
}

.post-extra-views-topic-left img {
  height: 100%;
  width: 100%;
}

.linkedin-sidebar {
  height: 500px;
  width: 38%;
}

.sidebar-container {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
}

.sidebar-profile {
  width: 100%;
  background-color: white;

}

.sidebar-Content {
  margin-top: 10px;
}

.sidebar-Content img {
  height: 30px;
  width: 30px;
}

.porfile-tile-value {
  margin-bottom: 20px;
}

.sidebar-footer {
  color: blue;
}

.sidebar-profile-first-first {
  padding-top: 8px;
  padding-left: 315px;
  display: flex;
  align-items: center;
}

.sidebar-profile-first {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-profile-first-third-first img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.sidebar-profile-first-third-second img {
  height: 50px;
  width: 50px;

}

.sidebar-profile-first-third {
  display: flex;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.sidebar-profile-first-fourth-first {
  padding: 5px 15px;
  border: 1px solid #0a66c2;
  background-color: transparent;
  color: #0a66c2;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 58%;
  margin-left: 30px;
  margin-top: 10px;
}
.linkedin-profile-end{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 10px;

}