
.post-main-content {
    margin-top: 10px;
    background-color: white;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.post-image-wrapper {
    height: 150px;
    width: 30%;
    background-color: darkblue;
}

.post-image {
    height: 100%;
    width: 100%;
}

.post-text-section {
    width: 70%;
}

.post-description {
    /* Description styling if needed */
}

.post-details-grid {
    display: flex;
    gap: 30px;
}

.post-detail-column {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}



.post-detail-box {
}

.post-footer-left {
    margin-top: 10px;
}

.post-footer-right {
 margin-top: 5px;
display: flex;
justify-content: flex-end;
}

.post-footer-right-read-more {
    margin-top: 8px;
    color: white;
    padding: 5px;
    background-color: #1E90FF;
    border-radius: 2px;

}