.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-logo-container {
    display: flex;
    gap: 20px;
}

.logo-wrapper img {
    height: 100%;
    width: 80%;
}

.header-navigation {
    display: contents;
}

.nav-item {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: darkblue;
}

.header-register {



    border-radius: 20px;
    padding: 8px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.property-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    padding-left: 50px;
    padding-right: 50px;

}

.property-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 11px;
    border-bottom: 1px solid gray;
}

.property-title-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property-title {
    font-weight: 500;
    font-size: 20px;
}

.property-rating-location {
    display: flex;
    gap: 30px;
}

.property-images-section {
    display: flex;
    align-items: center;
    gap: 9px;
}

.property-main-image {
    width: 50%;
    height: 378px;


}

.property-main-image img {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.property-side-image img {
    height: 186px;
    width: 346px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

}

.property-details-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-footer-description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.property-footer-price {
    font-size: 20px;
    font-weight: 500;
}

.booking-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.booking-card {
    background-color: antiquewhite;
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

.booking-checkin-label {
    font-weight: 500;
}

.booking-checkout-label {
    font-weight: 500;
}

.booking-guests-label {
    font-weight: 500;
}

.booking-button {
    background-color: darkred;
    width: 20%;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.booking-button:hover {
    background-color: darkgreen;
}

.property-overview-container {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 20px;
}

.property-feature-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid gray;
    width: 44%;
}

.feature-icon-wrapper {
    color: grey;
    display: flex;
    margin-top: -20px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-item-description {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-item-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-item-checkin {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.property-description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.property-description-divider {
    border-bottom: 1px solid gray;
    width: 63%;
}

.location-container {
    padding-left: 89px;
    padding-right: 30px;
}

.location-title {
    font-weight: 600;
}

.location-map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    height: 500%;
    padding-left: 50px;
    padding-right: 100px;
}

.location-container {
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 10px;
}

.location-details {
    border-bottom: 1px solid;
    width: 50%;
}

.location-city {
    font-weight: 500;
}

.host-section {
    padding: 0 140px;
}

.host-section-container {}

.host-profile {
    display: flex;
    gap: 5px;
    padding-left: 20px;
}

.host-image img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.host-details {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.host-name {
    font-weight: 600;
}

.host-stats {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.host-rating,
.host-reviews,
.host-response {
    font-size: 14px;
}

.contact-host-button {
    background-color: darkcyan;
    border: 1px solid darkblue;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 34px 0 4px 39px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-host-button:hover {
    background-color: blue;
}

.contact-host-button:active {
    background-color: red;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.third-component {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
        margin-bottom: 13px;

}

.footer {
    background-color: #00008b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
}